<!DOCTYPE html>
<html>
    <head>
        <title>Download</title>
        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

        <style>
            .dropdown {
              position: relative;
              display: inline-block;
            }
            
            .dropdown-content {
              display: none;
              position: absolute;
              background-color: #f9f9f9;
              min-width: 180px;
              box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
              z-index: 1;
            }
            
            .dropdown:hover .dropdown-content {
              display: block;
            }
</style>
        
    </head>

    <body>
           
        <div class="dropdown" style="margin-left: 30px; margin-top:30px">
<h5 style="color: #A82EF2; border:1px solid #A82EF2; padding:10px; font-family: akkurat;">
    Legend
</h5>           <div class="dropdown-content">
            <img src="../static/legend.png" style="width:320px; height:250px">

</div>
</div>
            
    <div id="main">
        <form method=get action="/home">
            <input type = "image" src="../static/drte2.png" id = "logo_button"/>
        </form>
        <!-- <p> Click on the button below to download the cleaned file</p> -->
        <form method=post>
            <input id = "download_btn_1" type=submit name="submit_button" value="Download as CSV">
        </form>
        <form method=post action=>
            <input id = "download_btn_2" type=submit name="submit_button" value="Download as Excel Sheet (recommended)">
        </form>
        <form method=get action="/summary">
            <input id = "download_btn_2" type=submit name="submit_button" value="Summary">
        </form>
    </div>
        <div id="dvCSV"></div>
    </body>
</html>